link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=true
git-checks=false
resolution-mode=time-based
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
